<div style="background:#e6faff">
<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>CricCoins </div>
      <!-- fill up the space between left and right area -->
      <span flex>
	  <md-input-container>
	  <md-select ng-model="selectedMatch" ng-change="populateSuggestions()" placeholder="Select a Match">
      <md-option ng-value="match" ng-repeat="match in  matches">{{ match.name }}</md-option>
      </md-select>
	  </md-input-container>
	  
	  </span>
	   <md-card >
	  <md-content style="background:#8080ff">
	 {{selectedMatch.score}} 
	  </md-content>
	  </md-card>
	   <md-card>
	   <img src="{{auth.profile.picture}}" />
	  </md-card>
	  <md-card>
	  <md-content  style="background:#8080ff" ng-cloak >
		$ : {{user.coins}}
		$Avlbl: {{user.coins -user.coinslocked}}
	  </md-content>
	  </md-card>
      <md-menu-bar>
	<md-menu>
	<button ng-click="$mdOpenMenu()">
     Menu
	</button>
   <md-menu-content>
   <md-menu-item>
     <md-button  style="background:#8080ff" ng-click="logout()" ng-model="settings.logout">Logout</md-button>
	</md-menu-item>
	 <md-menu-item>
     <md-button  style="background:#8080ff" ng-click="admin()" ng-model="settings.logout">Admin</md-button>
	</md-menu-item>
   </md-menu-content>
 </md-menu>
</md-menu-bar>
    </div>
  </md-toolbar>
</div>

</div>
<md-divider/>
	<div layout="row" style="background:#e6faff">

	<md-autocomplete  ngRequired="Please Enter" md-selected-item="selectedSuggestion" md-search-text="searchText" md-items="suggestion in getMatches(searchText)" md-item-text="suggestion.text" placeholder="Select Match and type">
			<span md-highlight-text="searchText">{{suggestion.text}}</span>
			</md-autocomplete>
			
		<md-input-container>
		<input type="number"  ng-model="val" placeholder = "Enter Val">
		</md-input-container>
		</div>
		<div layout="row" style="background:#e6faff">
		<md-input-container>
		<input type="number"  ng-model="coinsgive" placeholder = "risk coins">
		</md-input-container>
		<md-input-container>
		
		<input type="number"  ng-model="coinstake" placeholder = "reward coins">
		</md-input-container>
		
		<form class="form-horizontal" role="form" ng-submit="addRow(searchText)">
		<div class="form-group">								
		<div style="padding-left:10px">
			<md-button type="submit" value="Publish" class="md-raised" style="background:#8080ff">Publish
			</md-button>
		</div>
		</div>
		
		</form>
	</div>
<md-divider/>
<div id="tabContainer"  ng-cloak >
         <md-content>
            <md-tabs  md-dynamic-height  class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" flex>
               <md-tab id="tab1">
                  <md-tab-label>Challenge</md-tab-label>
                  <md-tab-body>
				  <md-content style="background:#e6faff">
    <md-grid-list
        md-cols-gt-md="6" md-cols-sm="2" md-cols-md="2"
        md-row-height-gt-md="2:1.2"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" style="height:750px;width:1100px;background:#e6faff" >
      <md-grid-tile style="background:#b3f0ff"
          ng-repeat="bet in bets">
                   <div layout="column">
          <md-label>
                  {{bet.subject}} {{bet.optimistic ? 'Will' : 'Will Not'}} {{bet.topicname}} {{bet.val}}
                  </md-label>
                  <md-label>
                   Your Risk:{{ bet.coinstake }} Reward:{{ bet.coinsgive}}
                  </md-label>
                  <form class="form-horizontal" role="form" ng-submit="challengeBet(bet)">
                <div class="form-group">
                <div style="padding-left:10px">
                        <md-button type="submit" style="background:#8080ff" value="Publish" class="md-raised">Challenge
                        </md-button>
                </div>
                </div>
                </form>
                </div>
      </md-grid-tile>
    </md-grid-list>
</md-content>
	</md-tab-body>
               </md-tab>
               <md-tab id="tab2" ng-disabled="data.secondLocked">
                  <md-tab-label>Cancel</md-tab-label>
                  <md-tab-body><md-content style="background:#b3f0ff" >
<md-grid-list
        md-cols-gt-md="6" md-cols-sm="3" md-cols-md="8"
        md-row-height-gt-md="2:1.2"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px"  >
      <md-grid-tile style="background:#e6faff"
          ng-repeat="mybet in mybets">
                  <div layout="column">
         <md-label>
                  {{mybet.subject}} {{mybet.optimistic ? 'Will' : 'Will Not'}} {{mybet.topicname}} {{mybet.val}}
                   </md-label>
                    <md-label>
                   My Risk:{{ mybet.coinsgive }}  Reward : {{ mybet.coinstake }}
                  </md-label>
                   <form class="form-horizontal" role="form" ng-submit="cancelBet(mybet._id)">
                <div class="form-group">
                <div style="padding-left:10px">
                        <md-button type="submit" style="background:#8080ff" value="Cancel" class="md-raised">Cancel
                        </md-button>
                </div>
                </div>
                </form>
                </div>
      </md-grid-tile>
    </md-grid-list>
        </md-content >
				  </md-tab-body>
               </md-tab>
               <md-tab id="tab3">
                  <md-tab-label>Matched</md-tab-label>
                  <md-tab-body>
				 <md-content style="background:#b3f0ff" >
		<md-grid-list
        md-cols-gt-md="6" md-cols-sm="3" md-cols-md="8"
        md-row-height-gt-md=2:1.2"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
      <md-grid-tile style="background:#e6faff"
          ng-repeat="myMatched in myMatchedbets">
                 <div layout="column">
         <md-label>
                  {{myMatched.subject}} {{myMatched.opt}} {{myMatched.topic}} {{myMatched.val}}
                  </md-label>
                   <md-label>
                  {{ myMatched.result}}
                  </md-label>
                  </div>
      </md-grid-tile>
    </md-grid-list>
        </md-content >
				  </md-tab-body>
               </md-tab>
            </md-tabs>
         </md-content>
</div>
</div>
