<div layout="flex">
<md-menu-bar>
 <md-menu>
   <button ng-click="$mdOpenMenu()">
     Menu
   </button>
   <md-menu-content>
     <md-menu-item  ng-click="logout()" ng-model="settings.logout">Logout</md-menu-item>
     <md-menu-divider></md-menu-divider>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Dashboard</md-menu-item>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Admin</md-menu-item>
   </md-menu-content>
 </md-menu>
</md-menu-bar>
 
<md-input-container>
  <md-select ng-model="selectedMatch" ng-change="populateSuggestions()" placeholder="Select a Match">
    <md-option ng-value="match" ng-repeat="match in  matches">{{ match.name }}</md-option>
  </md-select>
</md-input-container>
<md-card>
	<img src="{{auth.profile.picture}}" />
</md-card>
</div>
	<div layout="column">
	<md-autocomplete  md-selected-item="selectedSuggestion" md-search-text="searchText" md-items="suggestion in getMatches(searchText)" md-item-text="suggestion.text" placeholder="Make your bet,  First select a Match and then start typing, Or you can pick a bet from the bets shown below">
			<span md-highlight-text="searchText">{{suggestion.text}}</span>
			</md-autocomplete>
	<!--
		<md-autocomplete md-selected-item="selectedSubject" md-search-text="searchText" md-items="bet in selectedMatch.metadata" md-item-text="bet.name">
			<span md-highlight-text="searchText">{{bet.name}}</span>
			</md-autocomplete>
		<md-autocomplete md-selected-item="selectedTake" md-search-text="searchText1" md-items="take in flags" md-item-text="take.text">
			<span md-highlight-text="searchText">{{take.text}}</span>
			</md-autocomplete>
		<md-autocomplete md-selected-item="selectedTopic" md-search-text="searchText2" md-items="take in selectedSubject.topics" md-item-text="take">
			<span md-highlight-text="searchText">{{take}}</span>
			</md-autocomplete>
		<md-input-container>
		<label>VAl</label>
		<textarea ng-model="val"></textarea>
		</md-input-container> -->
		
		<form class="form-horizontal" role="form" ng-submit="addRow(searchText)">
		<div class="form-group">								
		<div style="padding-left:10px">
			<md-button type="submit" value="Publish" class="md-raised">Publish
			</md-button>
		</div>
		</div>
		
		</form>
</div>

<div layout="flex" >
<!--  Chat window removing for now will be introduced again thr menu options
<md-content layout="column">
<form ng-submit="submit()">
			<input type="text" ng-model="text" name="text" style="height:40px;width:300px;" />
			<input type="submit" id="submit" value="Submit" style="
	height:40px;
	width:80px;
    border:1px solid #000;"/>
</form>
<md-list  >
  <md-list-item class="md-2-line" ng-repeat="message in messages">
      <h3>{{message}}</h3>
  </md-list-item>
</md-list>
</md-content> -->
<md-content layout="flex" ">  
    <md-grid-list 
        md-cols-gt-md="5" md-cols-sm="3" md-cols-md="8"
        md-row-height-gt-md="1:1" md-row-height="fit"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" style="height:500px;width:1200px;" >
      <md-grid-tile
          ng-repeat="bet in bets">
         
		  {{bet.subject}} {{bet.optimistic ? 'Will' : 'Will Not'}} {{bet.topicname}} {{bet.val}}
      </md-grid-tile>
    </md-grid-list>
	</md-content>
</md-content>
			
</div>
