<div layout="flex" >


<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>CricCoins </div>
      <!-- fill up the space between left and right area -->
      <span flex>
	  <md-input-container>
	  <md-select ng-model="selectedMatch" ng-change="populateSuggestions()" placeholder="Select a Match">
      <md-option ng-value="match" ng-repeat="match in  matches">{{ match.name }}</md-option>
      </md-select>
	  </md-input-container>
	  
	  </span>
	   <md-card >
	  <md-content style="background:#ffccff">
	 {{selectedMatch.score}} 
	  </md-content>
	  </md-card>
	   <span ng-bind="coins"></span>
	   <md-card>
	  <img src="{{auth.profile.picture}}" />
	  </md-card>
	  <md-card>
	  <md-content style="background:#ffccff" ng-cloak >
		Coins : {{user.coins}}
		<md-divider/>
		Available: {{user.coins -user.coinslocked}}
	  </md-content>
	  </md-card>
      <md-menu-bar>
	<md-menu>
	<button ng-click="$mdOpenMenu()">
     Menu
	</button>
   <md-menu-content>
   <md-menu-item>
     <md-button  style="background:#8080ff" ng-click="logout()" ng-model="settings.logout">Logout</md-button>
	</md-menu-item>
	 <md-menu-item>
     <md-button  style="background:#8080ff" ng-click="admin()" ng-model="settings.logout">Admin</md-button>
	</md-menu-item>
   </md-menu-content>
 </md-menu>
</md-menu-bar>
    </div>
  </md-toolbar>
</div>

</div>
<md-divider/>
	<div layout="row" style="background:#e6faff">

	<md-autocomplete  ngRequired="Please Enter" md-selected-item="selectedSuggestion" md-search-text="searchText" md-items="suggestion in getMatches(searchText)" md-item-text="suggestion.text" placeholder="Make your bet">
			<span md-highlight-text="searchText">{{suggestion.text}}</span>
			</md-autocomplete>
			<md-input-container>
		
		<input type="number"  ng-model="val">
		</md-input-container>
		<md-input-container>
		
		<input type="number"  ng-model="coinsgive">
		</md-input-container>
		<md-input-container>
		
		<input type="number"  ng-model="coinstake">
		</md-input-container>
		
		<form class="form-horizontal" role="form" ng-submit="addRow(searchText)">
		<div class="form-group">								
		<div style="padding-left:10px">
			<md-button type="submit" value="Publish" class="md-raised" style="background:#8080ff">Publish
			</md-button>
		</div>
		</div>
		
		</form>
</div>

<div style="background:#e6faff">
<!--  Chat window removing for now will be introduced again thr menu options
<md-content layout="column">
<form ng-submit="submit()">
			<input type="text" ng-model="text" name="text" style="height:40px;width:300px;" />
			<input type="submit" id="submit" value="Submit" style="
	height:40px;
	width:80px;
    border:1px solid #000;"/>
</form>
<md-list  >
  <md-list-item class="md-2-line" ng-repeat="message in messages">
      <h3>{{message}}</h3>
  </md-list-item>
</md-list>
</md-content> -->
	<md-divider/>
Match Bets
<md-content>  
    <md-grid-list 
        md-cols-gt-md="6" md-cols-sm="2" md-cols-md="2"
        md-row-height-gt-md="2:1" 
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" style="height:500px;width:1200px;background:#e6faff" >
      <md-grid-tile style="background:#b3f0ff"
          ng-repeat="bet in bets">
          <md-label>
		  {{bet.subject}} {{bet.optimistic ? 'Will' : 'Will Not'}} {{bet.topicname}} {{bet.val}}
		  </md-label>
		  <form class="form-horizontal" role="form" ng-submit="challengeBet(bet)">
		<div class="form-group">								
		<div style="padding-left:10px">
			<md-button type="submit" style="background:#8080ff" value="Publish" class="md-raised">Challenge
			</md-button>
		</div>
		</div>
		
		</form>
      </md-grid-tile>
    </md-grid-list>
	
</md-content>
</div>
<md-divider/>
<div layout="flex">

<div layout="column">
My Unmatched Bets 
<md-content style="background:#b3f0ff" >  
<md-grid-list 
        md-cols-gt-md="3" md-cols-sm="3" md-cols-md="8"
        md-row-height-gt-md="2:1" 
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" style="height:400px;width:600px;" >
      <md-grid-tile style="background:#e6faff"
          ng-repeat="mybet in mybets" layout="column">
         <md-label>
		  {{mybet.subject}} {{mybet.optimistic ? 'Will' : 'Will Not'}} {{mybet.topicname}} {{mybet.val}}
		   </md-label>
		   <form class="form-horizontal" role="form" ng-submit="cancelBet(mybet._id)">
		<div class="form-group">								
		<div style="padding-left:10px">
			<md-button type="submit" style="background:#8080ff" value="Cancel" class="md-raised">Cancel
			</md-button>
		</div>
		</div>
		
		</form>
		
      </md-grid-tile>
    </md-grid-list>
	</md-content >  
</div >

<div>
 My matched Bets
<md-grid-list  
        md-cols-gt-md="3" md-cols-sm="3" md-cols-md="8"
        md-row-height-gt-md="2:1" 
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" style="height400px;width:600px;background:#b3f0ff">
      <md-grid-tile style="background:#e6faff"
          ng-repeat="myMatched in myMatchedbets">
         <md-label>
		  {{myMatched.subject}} {{myMatched.opt}} {{myMatched.topic}} {{myMatched.val}}
		  </md-label>
		   <md-label>
		  {{myMatched.result}}
		  </md-label> 
      </md-grid-tile>
    </md-grid-list> 
</div>

</div>
			
</div>
