.chatwindow{
    position:relative;
    height:400px; /* if you wish to use all of your space, use
    position:absolute; top:0;left:0;right:0;bottom:0;
    or drop the chatdwindow div */
}
.messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
    border:1px solid #000;
}
.messagewindow{   
    overflow:auto;
    top:0;
    bottom:3em;
}
.inputcontainer{
    display:block;
    bottom:0;
    height:1em;
    padding:.5em;
    margin-top:1em;
}

.inputcontainer > p{
    margin:0;
}
.btn{
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;

  &:hover{
    background-color: #44C7F4;
  }

  &:focus{
    outline: none !important;
  }

  &.btn-lg{
    padding: 20px 30px;
  }

  &:disabled{
    background-color: #333;
    color: #666;
  }
}

h1,h2,h3{
  font-weight: 100;
}

#logo img{
  width: 300px;
  margin-bottom: 60px;
}

.home-description{
  font-weight: 100;
  margin: 100px 0;
}

h2.ng-binding{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 200%
}

label.ng-binding{
  font-size: 100%;
  font-weight: 300;
}



